<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" >
<body>
	<div class="conteiner mt-4">
		<form action="/agregarNuevo" method="POST" class="col-sm-5">
			<div class="Card"></div>
				<div class="CardHeader">
						<h1>
							Agregar Cliente
						</h1>
				</div>
				<div class="CardBody">
					<div class="form-group">
						<label>CODIGO</label>
						<input type="text" name="codigo" class="form-control">
					</div>
					<div class="form-group">
						<label>NOMBRE</label>
						<input type="text" name="nombre" class="form-control">
					</div>
					<div class="form-group">
						<label>FECHA</label>
						<input type="text" name="fecha" class="form-control">
					</div>
					<div class="form-group">
						<label>SEXO</label>
						<input type="text" name="sexo" class="form-control">
					</div>
					<div class="form-group">
						<label>TELEFONO</label>
						<input type="text" name="telefono" class="form-control">
					</div>
					<div class="form-group">
						<label>CEDULA</label>
						<input type="text" name="cedula" class="form-control">
					</div>
					<div class="form-group">
						<label>NUM_IDENTIFICADOR</label>
						<input type="text" name="numIdentificador" class="form-control">					
					</div>
					<div class="form-group">
						<label>CIUDAD</label>
						<input type="text" name="ciudad" class="form-control">					
					</div>
					<div class="form-group">
						<label>PROVINCIA</label>
						<input type="text" name="provincia" class="form-control">					
					</div>
					<div class="form-group">
						<label>BARRIO</label>
						<input type="text" name="barrio" class="form-control">					
					</div>
					<div class="form-group">
						<label>DIRECCION 1</label>
						<input type="text" name="direccion1" class="form-control">					
					</div>
					<div class="form-group">
						<label>DIRECCION 2</label>
						<input type="text" name="direccion2" class="form-control">					
					</div>
					<div class="form-group">
						<label>ESTATUS</label>
						<input type="text" name="estatus" class="form-control">					
					</div>
				<div class="CardFooter">
				
				</div>
			</div>			
		</form>
	</div>
</body>
</html>
